<launch>
    <node pkg="ros_tutorial" name="one_robot_node" type="robot_node"/>
    <node pkg="rosservice" type="rosservice" name="rosservice" args="call --wait /robot2/kill"/>
    <node pkg="rosservice" type="rosservice" name="off_laser" args="call --wait /robot1/on_off_laser"/>
    <node pkg="ros_tutorial" name="controller" type="square"/>
</launch>